/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/nbproject
/web/css/compiled/*
/web/js/compiled/*
/composer.phar
/web/js/*
/web/fonts/*
/web/css/*
/build/
/bin/
!app/cache/.gitkeep
!app/logs/.gitkeep
/composer.lock
.idea/
