.fc-homepage .container-inner {
    padding: 0px;
}
.fc-homepage .fc-card {
    width: 47%;
    margin: 10px;
    float: left;
}
@media (max-width: 767px) {
    .fc-homepage .fc-card {
        margin: 10px auto;
        float: none;
        width: 360px;
        min-width: 360px;
    }
}

.fc-cardwrap {
    width: 175px;
    height: 175px;
    float: left;
    overflow: hidden;
    margin: 10px;
    outline: 1px solid #eee;
}

.fc-cardwrap .fc-card {
    width: 500px;
    margin:10px;
}
.fc-cardcover {
    position: absolute;
    width: 175px;
    height: 175px;
    background: #E2F3F6;
    font-size: 14px;
    color: #111;
    opacity: 0.5;
    cursor: pointer;
}